body {
}
.lead,label{
    text-align:right;
    font-family: 'Rubik', sans-serif;
}
#myAboutImage{
    height:100%;
display: block;
  margin-left: auto;
  margin-right: auto;
}

p,h1,h2,h3,h4,i,a,button{
    font-family: 'Rubik', sans-serif;
    /*text-align:right;*/
}
.mytext{
    font-family: 'Rubik', sans-serif;
    font-size:20pt;
}
.mylink{
    margin-left:40px;
}
a{
    text-align:right
}
small{
    font-family:Arial;
}
.fa-search-plus:before {
    /*content: "\f06e";*/
    /*content: "\f124";*/
    content: "\f129";
}
.mefosesim:before{
    content: "מחולל משחקים";
    font-family: 'Rubik', sans-serif;
    font-size:30pt;
}
.app:before{
    content: "אפליקציה";
    font-family: 'Rubik', sans-serif;
    font-size:30pt;
}
.bentobox:before{
    content: "אתר אינטרנט";
    font-family: 'Rubik', sans-serif;
    font-size:30pt;
}
.drago:before{
    content: "משחק למידה";
    font-family: 'Rubik', sans-serif;
    font-size:30pt;
}
.myGrafic:before{
    content: "גרפיקה ממוחשב";
    font-family: 'Rubik', sans-serif;
    font-size:30pt;
}
.video:before{
    content: "עריכת וידאו";
    font-family: 'Rubik', sans-serif;
    font-size:30pt;
}
iframe{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:350px;
}